@model RonditASP.ViewModels.UserViewModel 
@{
    ViewData["Title"] = "Index";
    Layout = "";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Rondit</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="wrapper fadeInDown" style="margin-top:150px">
        <div id="formContent">
            <!-- Tabs Titles -->
            <!-- Icon -->
            <img src="~/css/images/ronditmethoofd.png" style="height:45%; width:45%; padding: 20px"/>

            <!-- Login Form -->
            <form method="post">
                <input style="background-color:lightgray" type="text" id="login" class="fadeIn second" asp-for="Username" name="username" placeholder="username">
                <input style="background-color:lightgray" type="password" id="password" class="fadeIn third" asp-for="Password" name="password" placeholder="password">
                <input style="margin-top:30px" type="submit" class="fadeIn fourth" value="Log In" asp-controller="Login" asp-action="Login">
            </form>

            <!-- Remind Passowrd -->
            <div id="formFooter">
                <a class="underlineHover" href="Register/Index">Don't have an account yet?</a>
            </div>

        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Rondit - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
</body>
</html>

