@model Post
@{
    ViewData["Title"] = "Create";
}

<h1 class="text-center" >Post created!</h1>
<div class="postdiv">
    <div style="padding: 5px">
        @Model.Title
    </div>
    <div style="padding: 5px; border: 1px solid LightGray">
        @Model.Description
    </div>
    <div style="padding: 5px;">
        Posted by: @Model.User.Username
    </div>
    <div style="height: 30px;">
        <table style="width: 100%; margin-top: 5px; margin-bottom: 5px">
            <tr>
                <td>
                    <img src="~/css/images/grayarrowup.png" style="display: block; height: 30px; width: auto; margin: auto" />
                </td>
                <td>
                <td>
                    @Model.Points
                </td>
                <td>
                    <img src="~/css/images/grayarrowdown.png" style="display: block; height: 30px; width: auto; margin: auto" />
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="text-center">
    <a asp-controller="Home" asp-action="Index">Back to feed</a>
</div>


